<HTML>

<HEAD>
<title> Банальности </title>
<style type="text/css"> 
.act{
	/*color: blue;*/
	background-color: #cccccc;
	font-family: "Helvetica Neue";
}
.pass{
	/*color: black;*/
	font-family: "Helvetica Neue";
}
.vkdiv { 
    /*width: 200px;
    background: #ccc;*/
    padding: 5px;
    padding-top: 30px;
    border: 0; 
    float: right;
	font-family: "Helvetica Neue";
}
  </style>

		<div id="vk_api_transport"></div>
		<script type="text/javascript">
			window.vkAsyncInit = function() {
				VK.init({
					apiId: 2256946
				});
			};

			setTimeout(function() {
				var el = document.createElement("script");
				el.type = "text/javascript";
				el.src = "http://vkontakte.ru/js/api/openapi.js";
				el.async = true;
				document.getElementById("vk_api_transport").appendChild(el);
			}, 0);
		</script>
<script type='text/javascript' src='http://userapi.com/js/api/openapi.js?ver=3.4.1'></script>
</HEAD>

<BODY alink="blue" vlink="blue">

<H1 ALIGN="center">Банальности</H1>

<table border="0" width="100%">
<tr><td align="left">


   <form action="/logout/">
   Добро пожаловать, Лёша Чернов!
       <br/>
	   <input type="submit" value="Выйти">
   </form>


</td><td align="right" valign="top">
Следующая игра – во вторник 12 марта, в 23:00.<BR>
Для участия в онлайн-обсуждении игры в скайпе стучитесь к пользователю lesha_chernov.
</td></table>

<table border="2" width="100%" cellspacing="0" bgcolor="#eeeeee" cellpadding="10">
<tr>
<th align="center" valign="middle" 
class = "pass"
><A HREF="/home/">Главная страница</A></th>

<th align="center" valign="middle"><A HREF="/main">Играть!</A></th>

<th align="center" valign="middle" 
class = "pass"
><A HREF="/rules/">Правила</A></th>

<th align="center" valign="middle" 
class = "pass"
><A HREF="/profile/">Личный кабинет</A></th>

<th align="center" valign="middle" 
class = "pass"
><A HREF="/history/">Результаты прошедших игр</A></th>
</tr></table>

<div class="vkdiv"><center><strong>Наша группа вКонтакте</strong><div id="vkapi_community-3_wrapper"></div>
		<script type="text/javascript">
			VK.Widgets.Group("vkapi_community-3_wrapper", {mode: 2,  height: "1"}, 45280424);
		</script>
</center></div>

<BR/><BR/>

 
  







<style type="text/css">

h3{
	font-size: 120%;
	clear: left;
}

.clear{
color: blue;
text-align: center;
}

.green{
color: olive;
}

table.playersWords{
	font-weight: 30%;
	border-collapse: collapse;
	border-color: grey;

}

div.wrapper{
	margin: 2%;
	float: left;
	width: 300px;
	height: 300px; 
}

table#score_last_tour, table#score_all_tours, table#statistics_words{
	font-weight: 30%;
	border-collapse: collapse;
	margin: 1%;
	border-color: grey;
	float: left;
	padding: 1%;
}

#score_last_tour td, #score_all_tours td, #statistics_words td{
	padding: 2px;
}
</style>



<BR>
<H3 ALIGN="center" > Результаты тура 7 из 7.
Тема тура былаучасть Бога от автора Rada Null. </H3>
<TABLE BORDER id = "score_last_tour">
<TR>
<TH><p class = "clear"> Имя игрока </p> </TH> <TH> <p class = "clear"> Баллы за последний тур </p></TH> 
</TR>


<TR>
<TD> 
    
Андрей Гаркавый 
	
</TD> <TD>59</TD> 
</TR>

<TR>
<TD> 
    
Валерия Евдокимова 
	
</TD> <TD>54</TD> 
</TR>

<TR>
<TD> 
    
Nik Trukhanov 
	
</TD> <TD>49</TD> 
</TR>

<TR>
<TD> 
    
Михаил Тихомиров 
	
</TD> <TD>48</TD> 
</TR>

<TR>
<TD> 
    
Лера Важнова 
	
</TD> <TD>45</TD> 
</TR>

<TR>
<TD> 
    
Алексей Елагин 
	
</TD> <TD>44</TD> 
</TR>

<TR>
<TD> 
    
Выменец Максим 
	
</TD> <TD>43</TD> 
</TR>

<TR>
<TD> 
    
Емельян Ездопечкин 
	
</TD> <TD>41</TD> 
</TR>

<TR>
<TD> 
    
Julia Zinova 
	
</TD> <TD>41</TD> 
</TR>

<TR>
<TD> 
    
Маша Ященко 
	
</TD> <TD>40</TD> 
</TR>

<TR>
<TD> 
    
Валерыч 
	
</TD> <TD>39</TD> 
</TR>

<TR>
<TD> 
    
Фыва Апырвапыркина 
	
</TD> <TD>37</TD> 
</TR>

<TR>
<TD> 
    
Волк Разумный 
	
</TD> <TD>37</TD> 
</TR>

<TR>
<TD> 
    
Крокодило Бегемоты 
	
</TD> <TD>36</TD> 
</TR>

<TR>
<TD> 
    
Страшила Мудрый 
	
</TD> <TD>36</TD> 
</TR>

<TR>
<TD> 
    
Николай Першаков 
	
</TD> <TD>34</TD> 
</TR>

<TR>
<TD> 
    
Евгений Юртаев 
	
</TD> <TD>34</TD> 
</TR>

<TR>
<TD> 
    
Никита Зетилов 
	
</TD> <TD>29</TD> 
</TR>

<TR>
<TD> 
    
Фёдор Михайлович Раскольничий 
	
</TD> <TD>29</TD> 
</TR>

<TR>
<TD> 
    
Амбал Амбальский 
	
</TD> <TD>28</TD> 
</TR>

<TR>
<TD> 
    
Аня Овчаренко 
	
</TD> <TD>26</TD> 
</TR>

<TR>
<TD> 
    
	    <p class = "green">
	
Лёша Чернов 
	
	   </p>
	
</TD> <TD>24</TD> 
</TR>

<TR>
<TD> 
    
Анастасия Мельник 
	
</TD> <TD>23</TD> 
</TR>

<TR>
<TD> 
    
Наталья Нетрусова 
	
</TD> <TD>22</TD> 
</TR>

<TR>
<TD> 
    
Lewis C 
	
</TD> <TD>18</TD> 
</TR>

<TR>
<TD> 
    
Ася Воронцова 
	
</TD> <TD>17</TD> 
</TR>

<TR>
<TD> 
    
Михаил Яхлаков 
	
</TD> <TD>16</TD> 
</TR>

<TR>
<TD> 
    
Федор Алексеев 
	
</TD> <TD>16</TD> 
</TR>

<TR>
<TD> 
    
Диджи 
	
</TD> <TD>16</TD> 
</TR>

<TR>
<TD> 
    
Сергей Джунусов 
	
</TD> <TD>15</TD> 
</TR>

<TR>
<TD> 
    
Яна Кашинская 
	
</TD> <TD>14</TD> 
</TR>

<TR>
<TD> 
    
Sir Francis Drake 
	
</TD> <TD>14</TD> 
</TR>

<TR>
<TD> 
    
Тимур Исхаков 
	
</TD> <TD>6</TD> 
</TR>

<TR>
<TD> 
    
Маша Аксёнова 
	
</TD> <TD>4</TD> 
</TR>

<TR>
<TD> 
    
Егор Сечкин 
	
</TD> <TD>0</TD> 
</TR>

<TR>
<TD> 
    
mehrdod dodrhem 
	
</TD> <TD>0</TD> 
</TR>

<TR>
<TD> 
    
Sam Smith 
	
</TD> <TD>0</TD> 
</TR>

<TR>
<TD> 
    
Лиза Лосева 
	
</TD> <TD>0</TD> 
</TR>

<TR>
<TD> 
    
Ruslan 05 
	
</TD> <TD>0</TD> 
</TR>

<TR>
<TD> 
    
Екатерина Иванова 
	
</TD> <TD>0</TD> 
</TR>

<TR>
<TD> 
    
Илья Кайсин 
	
</TD> <TD>0</TD> 
</TR>

<TR>
<TD> 
    
Yevgeniya Kuznetsova 
	
</TD> <TD>0</TD> 
</TR>

<TR>
<TD> 
    
Александр Тимин 
	
</TD> <TD>0</TD> 
</TR>

<TR>
<TD> 
    
Rada Null 
	
</TD> <TD>0</TD> 
</TR>

<TR>
<TD> 
    
Юля Маругина 
	
</TD> <TD>0</TD> 
</TR>

</TABLE>

<TABLE BORDER id = "score_all_tours">
<TR>
<TH><p class = "clear"> Имя игрока </p> </TH> <TH> <p class = "clear"> Баллы за все туры </p></TH> 
</TR>


<TR>
<TD>
    

 Nik Trukhanov 
    

</TD> <TD>719</TD> 
</TR>

<TR>
<TD>
    

 Крокодило Бегемоты 
    

</TD> <TD>692</TD> 
</TR>

<TR>
<TD>
    

 Ася Воронцова 
    

</TD> <TD>665</TD> 
</TR>

<TR>
<TD>
    

 Михаил Тихомиров 
    

</TD> <TD>659</TD> 
</TR>

<TR>
<TD>
    

 Фёдор Михайлович Раскольничий 
    

</TD> <TD>659</TD> 
</TR>

<TR>
<TD>
    

 Julia Zinova 
    

</TD> <TD>645</TD> 
</TR>

<TR>
<TD>
    

 Андрей Гаркавый 
    

</TD> <TD>637</TD> 
</TR>

<TR>
<TD>
    

 Выменец Максим 
    

</TD> <TD>611</TD> 
</TR>

<TR>
<TD>
    

 Николай Першаков 
    

</TD> <TD>609</TD> 
</TR>

<TR>
<TD>
    

 Страшила Мудрый 
    

</TD> <TD>609</TD> 
</TR>

<TR>
<TD>
    
	    <p class = "green">
	

 Лёша Чернов 
    
	    </p>
	

</TD> <TD>607</TD> 
</TR>

<TR>
<TD>
    

 Аня Овчаренко 
    

</TD> <TD>598</TD> 
</TR>

<TR>
<TD>
    

 Валерыч 
    

</TD> <TD>592</TD> 
</TR>

<TR>
<TD>
    

 Илья Кайсин 
    

</TD> <TD>589</TD> 
</TR>

<TR>
<TD>
    

 Фыва Апырвапыркина 
    

</TD> <TD>576</TD> 
</TR>

<TR>
<TD>
    

 Лиза Лосева 
    

</TD> <TD>547</TD> 
</TR>

<TR>
<TD>
    

 Валерия Евдокимова 
    

</TD> <TD>544</TD> 
</TR>

<TR>
<TD>
    

 Юля Маругина 
    

</TD> <TD>544</TD> 
</TR>

<TR>
<TD>
    

 Анастасия Мельник 
    

</TD> <TD>543</TD> 
</TR>

<TR>
<TD>
    

 Никита Зетилов 
    

</TD> <TD>542</TD> 
</TR>

<TR>
<TD>
    

 Евгений Юртаев 
    

</TD> <TD>538</TD> 
</TR>

<TR>
<TD>
    

 Rada Null 
    

</TD> <TD>509</TD> 
</TR>

<TR>
<TD>
    

 Диджи 
    

</TD> <TD>493</TD> 
</TR>

<TR>
<TD>
    

 Федор Алексеев 
    

</TD> <TD>486</TD> 
</TR>

<TR>
<TD>
    

 Алексей Елагин 
    

</TD> <TD>484</TD> 
</TR>

<TR>
<TD>
    

 Наталья Нетрусова 
    

</TD> <TD>478</TD> 
</TR>

<TR>
<TD>
    

 Yevgeniya Kuznetsova 
    

</TD> <TD>475</TD> 
</TR>

<TR>
<TD>
    

 Маша Аксёнова 
    

</TD> <TD>447</TD> 
</TR>

<TR>
<TD>
    

 Sir Francis Drake 
    

</TD> <TD>443</TD> 
</TR>

<TR>
<TD>
    

 Михаил Яхлаков 
    

</TD> <TD>435</TD> 
</TR>

<TR>
<TD>
    

 Лера Важнова 
    

</TD> <TD>432</TD> 
</TR>

<TR>
<TD>
    

 Яна Кашинская 
    

</TD> <TD>410</TD> 
</TR>

<TR>
<TD>
    

 Емельян Ездопечкин 
    

</TD> <TD>365</TD> 
</TR>

<TR>
<TD>
    

 Тимур Исхаков 
    

</TD> <TD>356</TD> 
</TR>

<TR>
<TD>
    

 Маша Ященко 
    

</TD> <TD>342</TD> 
</TR>

<TR>
<TD>
    

 Lewis C 
    

</TD> <TD>294</TD> 
</TR>

<TR>
<TD>
    

 Амбал Амбальский 
    

</TD> <TD>293</TD> 
</TR>

<TR>
<TD>
    

 mehrdod dodrhem 
    

</TD> <TD>291</TD> 
</TR>

<TR>
<TD>
    

 Sam Smith 
    

</TD> <TD>239</TD> 
</TR>

<TR>
<TD>
    

 Екатерина Иванова 
    

</TD> <TD>239</TD> 
</TR>

<TR>
<TD>
    

 Волк Разумный 
    

</TD> <TD>219</TD> 
</TR>

<TR>
<TD>
    

 Сергей Джунусов 
    

</TD> <TD>184</TD> 
</TR>

<TR>
<TD>
    

 Егор Сечкин 
    

</TD> <TD>115</TD> 
</TR>

<TR>
<TD>
    

 Ruslan 05 
    

</TD> <TD>81</TD> 
</TR>

<TR>
<TD>
    

 Александр Тимин 
    

</TD> <TD>24</TD> 
</TR>

</TABLE>

<TABLE BORDER id = "statistics_words">
<TR>
<TH><p class = "clear"> Слово </p> </TH> <TH> <p class = "clear"> Сколько раз встретилось </p></TH>
</TR>

<TR>
<TD> 



	судьба



</TD> <TD>12</TD>
</TR>

<TR>
<TD> 



	религия



</TD> <TD>12</TD>
</TR>

<TR>
<TD> 

    <strong>



	бессмертие


    </strong>


</TD> <TD>12</TD>
</TR>

<TR>
<TD> 



	вера



</TD> <TD>10</TD>
</TR>

<TR>
<TD> 



	одиночество



</TD> <TD>8</TD>
</TR>

<TR>
<TD> 

    <strong>



	смерть


    </strong>


</TD> <TD>8</TD>
</TR>

<TR>
<TD> 



	трудность



</TD> <TD>7</TD>
</TR>

<TR>
<TD> 



	вечность



</TD> <TD>7</TD>
</TR>

<TR>
<TD> 



	крест



</TD> <TD>6</TD>
</TR>

<TR>
<TD> 



	власть



</TD> <TD>6</TD>
</TR>

<TR>
<TD> 



	жизнь



</TD> <TD>5</TD>
</TR>

<TR>
<TD> 



	творение



</TD> <TD>5</TD>
</TR>

<TR>
<TD> 



	рай



</TD> <TD>5</TD>
</TR>

<TR>
<TD> 



	распятие



</TD> <TD>5</TD>
</TR>

<TR>
<TD> 



	доля



</TD> <TD>5</TD>
</TR>

<TR>
<TD> 



	тяжесть



</TD> <TD>4</TD>
</TR>

<TR>
<TD> 



	философия



</TD> <TD>4</TD>
</TR>

<TR>
<TD> 



	молитва



</TD> <TD>4</TD>
</TR>

<TR>
<TD> 



	создатель



</TD> <TD>4</TD>
</TR>

<TR>
<TD> 

    <strong>



	иисус


    </strong>


</TD> <TD>4</TD>
</TR>

<TR>
<TD> 



	творец



</TD> <TD>3</TD>
</TR>

<TR>
<TD> 



	поклонение



</TD> <TD>3</TD>
</TR>

<TR>
<TD> 



	ад



</TD> <TD>3</TD>
</TR>

<TR>
<TD> 



	суд



</TD> <TD>3</TD>
</TR>

<TR>
<TD> 



	ответственность



</TD> <TD>3</TD>
</TR>

<TR>
<TD> 



	библия



</TD> <TD>3</TD>
</TR>

<TR>
<TD> 



	небеса



</TD> <TD>3</TD>
</TR>

<TR>
<TD> 



	стихотворение



</TD> <TD>3</TD>
</TR>

<TR>
<TD> 



	счастье



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	решение



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	созидание



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	удел



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	толпа



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	созерцание



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	наблюдение



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	церковь



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	православие



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	христианство



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	страдание



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	атеизм



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	словосочетание



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	люди



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	стругацкие



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	судья



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	забвение



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	господь



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	земля



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	вселенная



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	мир



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	воскресение



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	скука



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	бытие



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	дьявол



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 

    <strong>



	христос


    </strong>


</TD> <TD>2</TD>
</TR>

<TR>
<TD> 

    <strong>



	воскрешение


    </strong>


</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	кара



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	всевышний



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	прощение



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	любовь



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	всемогущество



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	знание



</TD> <TD>2</TD>
</TR>

<TR>
<TD> 

    <strong>



	святость


    </strong>


</TD> <TD>2</TD>
</TR>

<TR>
<TD> 



	безысходность



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	стихи



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	создание



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	облако



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	предречение



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	универсум



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	проклинание



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	свобода



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	уныние



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	возвышение



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	спасение



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	голгофа



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	отпущение



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	спаситель



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	незавидность



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	просьбы



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	величие



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	жираф



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	слон



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	справедливость



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	сила



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	тема



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	учеба



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	предательство



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	поколение



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	жертва



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	наставление



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	просвещение



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	демон



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	цитата



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	бред



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	карма



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	бесконечность



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	тоска



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	рок



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	вероисповедание



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	небо



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	католицизм



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	управление



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	попов-опеченский



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	песня



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	католичество



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	адам



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	сотворение



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	книга



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	искупление



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	грех



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	сверхчеловек



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	ницше



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	грусть



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	августин



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	поступок



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	кино



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	пророк



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	существование



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	молчание



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	понимание



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	вмешательство



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	невмешательство



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	всепрощение



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	всезнание



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	евангелие



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	превосходство



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 

    <strong>



	дух


    </strong>


</TD> <TD>1</TD>
</TR>

<TR>
<TD> 

    <strong>



	сын


    </strong>


</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	мифология



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	труд



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	царствие



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	стих



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	бремя



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	ноша



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	мессия



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	кукловодство



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	наблюдатель



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	рефрен



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	страдания



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 

    <strong>



	отец


    </strong>


</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	человечество



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 

    <strong>



	гибель


    </strong>


</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	слава



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	банальность



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	работа



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	служение



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	проклятие



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	предназначение



</TD> <TD>1</TD>
</TR>

<TR>
<TD> 



	пустота



</TD> <TD>1</TD>
</TR>

</TABLE>


<h3 class = "clear">Слова, введенные в этом туре:</h3> 

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Яна Кашинская&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	создатель 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	творец 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	власть 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	судья 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	стихотворение 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	вероисповедание 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	православие 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	католицизм 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	управление 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	попов-опеченский 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Nik Trukhanov&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	философия 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	рай 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	жизнь 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	вечность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	
	<TR>
	<TD> 
	творение 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	тяжесть 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	суд 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	созидание 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Евгений Юртаев&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	рай 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	кара 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	любовь 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	дьявол 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	ад 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	суд 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	адам 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	церковь 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Юля Маругина&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Андрей Гаркавый&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	жизнь 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	смерть 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	церковь 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	молитва 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	счастье 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	вера 
	 
	</TD>
	<TD> 9 </TD>
	</TR>
	
	<TR>
	<TD> 
	господь 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> mehrdod dodrhem&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Ася Воронцова&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	доля 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	трудность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	
	<TR>
	<TD> 
	люди 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	рефрен 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	толпа 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	труд 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	власть 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	стих 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	бремя 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	ноша 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Валерыч&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	рай 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	жизнь 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	смерть 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	ад 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	вера 
	 
	</TD>
	<TD> 9 </TD>
	</TR>
	
	<TR>
	<TD> 
	атеизм 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	христианство 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	жертва 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	демон 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Анастасия Мельник&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	библия 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	крест 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	смерть 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	иисус 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	святость 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	суд 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	искупление 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	грех 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	творец 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	воскресение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Егор Сечкин&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Лёша Чернов&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	смерть 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	гибель 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	воскрешение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	иисус 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	христос 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	отец 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	сын 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	дух 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	святость 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Фёдор Михайлович Раскольничий&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	трудность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	
	<TR>
	<TD> 
	одиночество 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	крест 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	распятие 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	тяжесть 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	ответственность 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	стругацкие 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	незавидность 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	словосочетание 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	голгофа 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Никита Зетилов&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	философия 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	одиночество 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	рай 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	дьявол 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	ад 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	мессия 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	кукловодство 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	наблюдатель 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	судья 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Лиза Лосева&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Диджи&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	распятие 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	молитва 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	поклонение 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	власть 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	стихотворение 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	проклинание 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	возвышение 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	спасение 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	отпущение 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	спаситель 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Федор Алексеев&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	тяжесть 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	бытие 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	стругацкие 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	труд 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	создание 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Выменец Максим&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	вечность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	
	<TR>
	<TD> 
	забвение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	скука 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	атеизм 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	уныние 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	безысходность 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	страдание 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Sir Francis Drake&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	библия 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	смерть 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	иисус 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	ницше 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	сверхчеловек 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	прощение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	любовь 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	пророк 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	августин 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	евангелие 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Михаил Тихомиров&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	вечность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	
	<TR>
	<TD> 
	смерть 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	вера 
	 
	</TD>
	<TD> 9 </TD>
	</TR>
	
	<TR>
	<TD> 
	создатель 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	вселенная 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	бесконечность 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	тоска 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	рок 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Julia Zinova&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	одиночество 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	небеса 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	жизнь 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	творение 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	толпа 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	облако 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	скука 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	просьбы 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Маша Аксёнова&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	небеса 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	земля 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	люди 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	предназначение 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	страдания 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Михаил Яхлаков&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	одиночество 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	решение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	создатель 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	грусть 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	ответственность 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	поступок 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	мир 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	вселенная 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	земля 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	человечество 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Илья Кайсин&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Крокодило Бегемоты&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	стихотворение 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	словосочетание 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	песня 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	карма 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	бред 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	цитата 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	тема 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Николай Першаков&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	одиночество 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	величие 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	небеса 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	рай 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	свобода 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	пустота 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	царствие 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	жизнь 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	вечность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Страшила Мудрый&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	доля 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	трудность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	распятие 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	вера 
	 
	</TD>
	<TD> 9 </TD>
	</TR>
	
	<TR>
	<TD> 
	бытие 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	стругацкие 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	работа 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	служение 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	проклятие 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Аня Овчаренко&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	философия 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	вечность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	
	<TR>
	<TD> 
	наблюдение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	созерцание 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	вмешательство 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	невмешательство 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	молитва 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	удел 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Лера Важнова&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	мифология 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	кара 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	библия 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	крест 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	распятие 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	смерть 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	творение 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	банальность 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Yevgeniya Kuznetsova&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Наталья Нетрусова&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	трудность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	
	<TR>
	<TD> 
	прощение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	знание 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	всезнание 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	всепрощение 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	понимание 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	молчание 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	существование 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	тяжесть 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Фыва Апырвапыркина&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	сила 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	доля 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	небо 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	стихи 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	философия 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	всевышний 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	всемогущество 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	трудность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Ruslan 05&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Rada Null&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Александр Тимин&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Валерия Евдокимова&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	всевышний 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	бессмертие 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	вечность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	
	<TR>
	<TD> 
	вера 
	 
	</TD>
	<TD> 9 </TD>
	</TR>
	
	<TR>
	<TD> 
	власть 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	предречение 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	универсум 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Тимур Исхаков&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	трудность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Алексей Елагин&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	всемогущество 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	крест 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	смерть 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	творение 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	вера 
	 
	</TD>
	<TD> 9 </TD>
	</TR>
	
	<TR>
	<TD> 
	воскресение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	власть 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	страдание 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	создание 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Екатерина Иванова&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Маша Ященко&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	одиночество 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	крест 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	распятие 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	воскрешение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	иисус 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	вера 
	 
	</TD>
	<TD> 9 </TD>
	</TR>
	
	<TR>
	<TD> 
	учеба 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	предательство 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	поколение 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Амбал Амбальский&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	христос 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	молитва 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	вера 
	 
	</TD>
	<TD> 9 </TD>
	</TR>
	
	<TR>
	<TD> 
	поклонение 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	православие 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	христианство 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	наставление 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	просвещение 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	католичество 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Lewis C&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	доля 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	одиночество 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	знание 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	наблюдение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	созерцание 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	удел 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	созидание 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	решение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	превосходство 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	счастье 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Sam Smith&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Емельян Ездопечкин&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	судьба 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	доля 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	вечность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	
	<TR>
	<TD> 
	крест 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	вера 
	 
	</TD>
	<TD> 9 </TD>
	</TR>
	
	<TR>
	<TD> 
	творец 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	господь 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	забвение 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	поклонение 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	слава 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Сергей Джунусов&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	одиночество 
	 
	</TD>
	<TD> 7 </TD>
	</TR>
	
	<TR>
	<TD> 
	ответственность 
	 
	</TD>
	<TD> 2 </TD>
	</TR>
	
	<TR>
	<TD> 
	мир 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	власть 
	 
	</TD>
	<TD> 5 </TD>
	</TR>
	
	<TR>
	<TD> 
	жираф 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	слон 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	справедливость 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>

<div class = "wrapper">
	<TABLE BORDER class = "playersWords">
		<caption> Волк Разумный&nbsp; </caption>
	<TR>
	<TH><p class = "clear"> Слово, введенное игроком </p> </TH> <TH> <p class = "clear"> Очки за него</p></TH>
	</TR>
	
	<TR>
	<TD> 
	религия 
	 
	</TD>
	<TD> 11 </TD>
	</TR>
	
	<TR>
	<TD> 
	трудность 
	 
	</TD>
	<TD> 6 </TD>
	</TR>
	
	<TR>
	<TD> 
	творение 
	 
	</TD>
	<TD> 4 </TD>
	</TR>
	
	<TR>
	<TD> 
	тяжесть 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	вера 
	 
	</TD>
	<TD> 9 </TD>
	</TR>
	
	<TR>
	<TD> 
	бытие 
	 
	</TD>
	<TD> 1 </TD>
	</TR>
	
	<TR>
	<TD> 
	создатель 
	 
	</TD>
	<TD> 3 </TD>
	</TR>
	
	<TR>
	<TD> 
	кино 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	сотворение 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	
	<TR>
	<TD> 
	книга 
	 
	</TD>
	<TD> 0 </TD>
	</TR>
	

	</TABLE>
</div>




</BODY>
</HTML>