{% extends "base_rules.html" %}

{% block more_href %}
{% endblock %}


{% block content %}
<style type="text/css">

div#autors {
	font-weight: 50%;
	float: right;
	/*position: absolute;
	right: 0px;*/
	text-align: right;
	font-size: small;
}

div#yandex.money{
	font-weight: 50%;
	text-align: left;
}

#autors p{
	position: relative;
	text-align: left;
}
</style>

<div>
	<p>
	Приветствуем вас на сайте, посвящённой одной из самых простых и
	динамичных игр со словами &mdash; игре «Банальности».</p>

	<p>Один кон игры состоит в следующем. Объявляется тема кона &mdash; ей может
	быть всё, что угодно; обычно это слово или какая-то фраза. После этого
	за определённое время (обычно &mdash; 3 минуты) каждый из игроков должен
	придумать 10 (можно меньше) ассоциаций, которые возникают у него с
	темой.</p>

	<p>Ассоциациями могут быть любые существительные на русском языке в
	именительном падеже, не имеющие общих корней с темой кона. Годятся и
	нарицательные, и имена собственные; и единственное, и множественное
	числа (но слова «лапоть» и «лапти» считаются различными).
	Уменьшительно-ласкательные можно («лампа» и «лампочка» - разные
	слова). Аббревиатуры тоже подходят. Все буквы «ё» будут автоматически
	заменены на «е». Регистр неважен. Больше &mdash; никаких ограничений!</p>

	<p>После истечения времени происходит автоматический подсчет очков: если
	какое-то слово написали N человек, слово получает (N-1) очков. Очки
	каждого игрока считаются очень просто &mdash; это сумма баллов всех слов,
	которые он написал. Таким образом, выигрывает игрок, написавший слова,
	которые чаще всего писали и другие игроки &mdash; то есть самые банальные
	ассоциации на заданную тему.</p>

	<p>Обычно мы играем около 7 конов по 3 минуты, с перерывами на 3-5 минут.
		Перед началом игры каждый игрок может задать название одной темы; во
	время игры будут сыграны случайные из введённых игроками тем плюс,
	возможно, несколько тем от авторов.
	</p>

	<p>Победителем игры становится игрок, набравший больше всего очков по
	сумме всех конов.</p>
	<p>Удачи!</p>
</div>

<div>
	Если у Вас остались вопросы, с нами можно связаться по почте <a href="mailto:ban@thehat.ru">ban@thehat.ru. </a>
</div>
<BR>
<div id="yandex.money">
	<iframe frameborder="0" allowtransparency="true" scrolling="no"
	src="https://money.yandex.ru/embed/donate.xml?uid=4100184455826&amp;default-sum=100&amp;targets=%d0%90+%d0%b7%d0%b4%d0%b5%d1%81%d1%8c+%d0%b2%d1%8b+%d0%bc%d0%be%d0%b6%d0%b5%d1%82%d0%b5+%d0%bf%d0%be%d0%b4%d0%b4%d0%b5%d1%80%d0%b6%d0%b0%d1%82%d1%8c+%d1%81%d0%be%d0%b7%d0%b4%d0%b0%d1%82%d0%b5%d0%bb%d0%b5%d0%b9+%d1%81%d0%b0%d0%b9%d1%82%d0%b0+%d0%b8+%d0%bf%d0%be%d0%bc%d0%be%d1%87%d1%8c+%d0%b5%d0%bc%d1%83+%d1%80%d0%b0%d0%b7%d0%b2%d0%b8%d0%b2%d0%b0%d1%82%d1%8c%d1%81%d1%8f.&amp;target-visibility=on&amp;project-name=&amp;project-site=&amp;button-text=05&amp;hint=&amp;label=banalnosti"
	width="450" height="120"></iframe>
</div>

<div id="autors">
<p> Яна Кашинская &mdash; разработка <BR />
    Алексей Чернов &mdash; общие вопросы, дизайн </p>
</div>

{% endblock %}
